@layer reset, base, tokens, recipes, utilities;

@layer base {
  a {
    color: blue;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  }
}

@layer recipes {
  .btn {
    display: inline-block;
    background-color: #2b2b2b;
    color: #fff;
    font-weight: 700;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.25rem;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
